:root {
    --primary-color: #32fd1f;
    --bg-color: #a5f7ce;
    --text-color: #ffffff;
    --light-color: rgba(253, 9, 9, 0.04);
}

* {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body {
    height: 100vh;
    background-image: url(../images/inverno-neve-gelo-articos-imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    background-color:#130f0d;
    color: #f0f0f5;
}

form {
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    max-width: 500px;

    margin: 32px auto;
    padding: 50px 80px;
    
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 32px;
    text-decoration: underline;
    font-weight: bold;
    color: #130f0d;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
  
      
    width: 100%;

    padding: 16px 0;

    border:none;
    border-bottom: 1px solid var(--primary-color);

    background-color: transparent;

    outline: none;

   
    color: var(--text-color);
    font-size: 1em;

}

button {
    margin-top: 16px;
    background-color: var(--primary-color);
    cursor: pointer;
    }

button:hover {
    background-color: #3b3a3a;
    transition: 1s;
       
}



input ~ label {
    position: absolute;
    top: 16px;
    left: 0;
    font-weight: bold;
    color: rgb(0, 0, 0) ;

    transition: .4s;
    text-decoration: solid;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateX(-24px);
    font-size: 1em;
    letter-spacing: 0.3em;
    color: rgb(12, 158, 73);
    
}


.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.842);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}